___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [124]:
def lesser_of_two_evens(a,b):
    if (a % 2 == 0 and b % 2 == 0):
        return a if a < b else b
    else:
        return a if a > b else b

In [206]:
# Check
lesser_of_two_evens(2,4)

2

In [207]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [210]:
def animal_crackers(text):
    two_words = text.split(' ')
    return two_words[0][0].lower() == two_words[1][0].lower()

In [215]:
# Check
animal_crackers('Levelheaded Llama')

True

In [212]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [216]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [217]:
# Check
makes_twenty(20,10)

True

In [218]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [239]:
def old_macdonald(name):
    cap_name = list(name)
    cap_name[0] = cap_name[0].upper()
    cap_name[3] = cap_name[3].upper()
    return cap_name

In [240]:
# Check
old_macdonald('macdonald')

['M', 'a', 'c', 'D', 'o', 'n', 'a', 'l', 'd']

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [273]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [274]:
# Check
master_yoda('I am home')

'home am I'

In [272]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [280]:
def almost_there(n):
    return (n >= 90 and n <= 110) or (n >= 190 and n <= 210)

In [281]:
# Check
almost_there(104)

True

In [282]:
# Check
almost_there(150)

False

In [285]:
# Check
almost_there(210)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [309]:
def has_33(nums):
    position = 0
    while position < len(nums) and position + 1 < len(nums):
        if nums[position] == 3 and nums[position + 1] == 3:
            return True
        position += 1
    return False

In [310]:
# Check
has_33([1, 3, 3])

True

In [311]:
# Check
has_33([1, 3, 1, 3])

False

In [312]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [321]:
def paper_doll(text):
    word = list(text)
    for i, s in enumerate(word):
        word[i] *= 3

    return ''.join(word)

In [322]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [323]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [346]:
def blackjack(a,b,c):
    total = sum([a, b, c])

    if total > 21 and (a == 11 or b == 11 or c == 11):
        total -= 10

    return 'BUST' if total > 21 else total

In [347]:
# Check
blackjack(5,6,7)

18

In [348]:
# Check
blackjack(9,9,9)

'BUST'

In [349]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [389]:
def summer_69(arr):
    total = 0
    in_block = False

    for num in arr:
        if num == 6:
            in_block = True
        elif num == 9 and in_block:
            in_block = False
        elif not in_block:
            total += num
    return total

In [390]:
# Check
summer_69([1, 3, 5])

9

In [391]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [392]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [197]:
def spy_game(nums):
    pass

In [198]:
# Check
spy_game([1,2,4,0,0,7,5])

In [199]:
# Check
spy_game([1,0,2,4,0,5,7])

In [200]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [201]:
def count_primes(num):
    pass

In [202]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [203]:
def print_big(letter):
    pass

In [204]:
print_big('a')

## Great Job!